prompts/workflows/idea-engine/action-items-orchestrator.n8n.workflow.json
{
  "name": "Idea Engine - 5. Action Items Generator - OSSIDEAS",
  "nodes": [
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"actionItems\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"task\": {\n            \"type\": \"string\",\n            \"description\": \"Specific action to take\"\n          },\n          \"priority\": {\n            \"type\": \"string\",\n            \"enum\": [\"high\", \"medium\", \"low\"],\n            \"description\": \"Priority level of the task\"\n          },\n          \"timeframe\": {\n            \"type\": \"string\",\n            \"description\": \"Estimated time to complete\"\n          },\n          \"resources\": {\n            \"type\": \"string\",\n            \"description\": \"Required resources or skills\"\n          }\n        }\n      }\n    },\n    \"immediateNextSteps\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"Actions that should be taken immediately\"\n    },\n    \"milestones\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\",\n            \"description\": \"Milestone name\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"description\": \"What this milestone represents\"\n          },\n          \"targetDate\": {\n            \"type\": \"string\",\n            \"description\": \"Estimated target date or timeframe\"\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -120,
        -40
      ],
      "id": "8ab5b5c5-3e1f-44de-900c-44029152d8d7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -360,
        -40
      ],
      "id": "7543a2c2-47d1-405d-86af-0a755c226afa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NhWYxdG7RtFxT59p",
          "name": "Google Gemini(PaLM) Api account - technical4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.idea.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        -40
      ],
      "id": "3e6f63be-4b46-437a-850f-c7fbabc8b262",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1900,
        90
      ],
      "id": "9416493e-740c-445e-8a17-8741fc7ebd86",
      "name": "IdeaBatch"
    },
    {
      "parameters": {
        "url": "=https://qevwmqbfohxfcwyaixqe.supabase.co/rest/v1/ideas",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*, analysis_results(*),repository:repositories(*)"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "status",
              "value": "eq.pending_action_items"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1680,
        -260
      ],
      "id": "9596c29a-ca0d-4f5c-aac2-218d34c50c52",
      "name": "GetIdeasWithoutActionItems",
      "credentials": {
        "supabaseApi": {
          "id": "h6glGddJTttd41ys",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2120,
        90
      ],
      "id": "96e065e2-4b00-4858-a898-24f730aa6fd4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Input Context\n\n{{ JSON.stringify($('FormatInputData').item.json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# ActionItemsAgent System Prompt\n\n## ROLE:\nYou are **ActionItemsAgent**, an AI product strategist specialized in creating practical, actionable next steps to transform business ideas into reality.\n\n## TASK:\nGiven:\n1. Repository metadata (id, name, URL, description, etc.)\n2. Idea overview (problem statement, product vision, market validation)\n3. MVP core features (if available)\n\nProduce a structured JSON output that identifies 3-5 immediate, tangible action items that:\n- Are specific, measurable, and achievable\n- Have clear timeframes and resource requirements\n- Are prioritized by importance and sequence\n- Will move the idea from concept to implementation\n\n## INPUT FORMAT:\n```json\n{\n  \"repository\": {\n    \"id\": \"uuid\",\n    \"name\": \"string\",\n    \"full_name\": \"string\",\n    \"description\": \"string\",\n    \"html_url\": \"string\",\n    \"stargazers_count\": number,\n    \"forks_count\": number,\n    \"topics\": [\"string\"],\n    \"license_name\": \"string\",\n    \"languages\": {\"language\": percentage}\n  },\n  \"idea\": {\n    \"id\": \"uuid\",\n    \"title\": \"string\",\n    \"tagline\": \"string\",\n    \"overview\": {\n      \"problem\": \"string\",\n      \"vision\": \"string\",\n      \"validation\": {\n        \"validatedDemand\": \"string\",\n        \"marketTrend\": \"string\"\n      }\n    }\n  },\n  \"mvpFeatures\": {\n    \"features\": [\n      {\n        \"name\": \"string\",\n        \"description\": \"string\",\n        \"priority\": \"high|medium|low\",\n        \"userValue\": \"string\"\n      }\n    ],\n    \"mvpScope\": \"string\",\n    \"futureFeatures\": [\"string\"]\n  }\n}\n```\n\n## OUTPUT FORMAT:\nReturn ONLY the following JSON structure (no extra text or explanations):\n\n```json\n{\n  \"actionItems\": [\n    {\n      \"task\": \"Specific action to take\",\n      \"priority\": \"high|medium|low\",\n      \"timeframe\": \"Estimated time to complete (e.g., '1-2 weeks')\",\n      \"resources\": \"Required resources or skills\"\n    }\n  ],\n  \"immediateNextSteps\": [\n    \"First thing to do right now\",\n    \"Second immediate action\"\n  ],\n  \"milestones\": [\n    {\n      \"name\": \"Milestone name\",\n      \"description\": \"What this milestone represents\",\n      \"targetDate\": \"Estimated target date or timeframe\"\n    }\n  ]\n}\n```\n\n## GUIDELINES:\n\n1. **Practical & Actionable**: Each task should be concrete and immediately actionable, not vague or theoretical.\n\n2. **Technical Relevance**: Consider the repository's technology stack when suggesting implementation steps.\n\n3. **Logical Sequence**: Order tasks in a logical sequence that builds toward a working MVP.\n\n4. **Resource Awareness**: Be realistic about resource requirements and technical complexity.\n\n5. **Prioritization**: Label each action item as high, medium, or low priority based on:\n   - Critical path dependencies\n   - Impact on validating core assumptions\n   - Technical prerequisites\n\n6. **Immediate Next Steps**: Identify 2-3 actions that should be taken immediately to gain momentum.\n\n7. **Key Milestones**: Define 2-3 major milestones that mark significant progress points.\n\n8. **Validation Focus**: Include actions specifically designed to validate key assumptions.\n\n9. **Market Testing**: Include steps for early user feedback and market testing.\n\n10. **Technical Feasibility**: Ensure action items align with the technical capabilities evident in the repository.\n\nRemember: Good action items convert abstract ideas into concrete steps. They should be specific enough that someone could start working on them immediately without needing further clarification."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -328,
        -260
      ],
      "id": "61646dab-2fa0-4fcf-8cda-9bc8a27bfbe8",
      "name": "ActionItemsAgent",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "analysis_results",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "analysis_type_id",
              "fieldValue": "4"
            },
            {
              "fieldId": "repository_id",
              "fieldValue": "={{ $('FormatInputData').item.json.repository.id }}"
            },
            {
              "fieldId": "idea_id",
              "fieldValue": "={{ $('FormatInputData').item.json.idea.id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "=Next Steps & Action Items for {{ $('FormatInputData').item.json.idea.title }}"
            },
            {
              "fieldId": "summary_description",
              "fieldValue": "={{ $json.output.immediateNextSteps.join(', ') }}"
            },
            {
              "fieldId": "analysis_payload",
              "fieldValue": "={{ JSON.stringify($json.output) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        -360
      ],
      "id": "00eaecb5-eca4-4858-bfc4-81aa7536bbb0",
      "name": "StoreActionItemsAnalysis",
      "credentials": {
        "supabaseApi": {
          "id": "h6glGddJTttd41ys",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "errors",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "error",
              "fieldValue": "={{ $json.error }}"
            },
            {
              "fieldId": "note",
              "fieldValue": "Something went wrong with ActionItemsAgent"
            },
            {
              "fieldId": "source",
              "fieldValue": "action-items-agent"
            },
            {
              "fieldId": "severity",
              "fieldValue": "error"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        -160
      ],
      "id": "04674474-e353-4a05-9c31-680748750ba7",
      "name": "LogError",
      "credentials": {
        "supabaseApi": {
          "id": "h6glGddJTttd41ys",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -580,
        -260
      ],
      "id": "10455168-41f6-44b1-8e20-eb33a1ceb32f",
      "name": "Wait",
      "webhookId": "f640930c-a58d-4e7e-9f5f-e6f8e3b31e06"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "repositories",
        "filterType": "string",
        "filterString": "=select=*&id=eq.{{ $json.repository_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1460,
        -260
      ],
      "id": "1e2f2c60-1c41-4c76-8ef9-44f5fa57f757",
      "name": "GetRepositoryDetails",
      "credentials": {
        "supabaseApi": {
          "id": "h6glGddJTttd41ys",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform the data into the format expected by ActionItemsAgent\nconst idea = $('GetIdeasWithoutActionItems').first().json\nconst repository = $('GetRepositoryDetails').first().json;\nconst mvpFeatures = $('GetMVPFeatures').first().json;\n\nif (!idea || !repository) {\n  return { json: { error: 'Missing idea or repository data' } };\n}\n\n// Extract tagline from overview if available\nlet tagline = '';\nif (idea.overview && idea.overview.tagline) {\n  tagline = idea.overview.tagline;\n} else if (idea.overview && typeof idea.overview === 'object') {\n  // Try to extract from other fields if available\n  tagline = idea.title;\n}\n\n// Format the input data\nconst formattedData = {\n  repository: {\n    id: repository.id,\n    name: repository.name,\n    full_name: repository.full_name,\n    description: repository.description,\n    html_url: repository.html_url,\n    stargazers_count: repository.stargazers_count,\n    forks_count: repository.forks_count,\n    topics: repository.topics,\n    license_name: repository.license_name,\n    languages: repository.languages\n  },\n  idea: {\n    id: idea.id,\n    title: idea.title,\n    tagline: tagline,\n    overview: idea.overview\n  },\n  mvpFeatures: null\n};\n\n// Add MVP features if available\nif (mvpFeatures && mvpFeatures.analysis_payload) {\n  try {\n    const mvpFeaturesData = typeof mvpFeatures.analysis_payload === 'string' \n      ? JSON.parse(mvpFeatures.analysis_payload)\n      : mvpFeatures.analysis_payload;\n      \n    formattedData.mvpFeatures = mvpFeaturesData;\n  } catch (e) {\n    console.log('Error parsing MVP features:', e);\n    // Continue without MVP features\n  }\n}\n\nreturn { json: formattedData };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1020,
        -260
      ],
      "id": "1f580739-9a7b-4fd7-8b22-43c6919bd96b",
      "name": "FormatInputData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6b72279-cb04-4bdc-b7a5-8323edd005a1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "d3ef30c6-d58d-4593-9d63-f067154d4879",
              "leftValue": "={{ $json.mvpFeatures.features.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        -240
      ],
      "id": "89c27127-2bb4-4e18-a258-9c9631070b6e",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        520,
        -135
      ],
      "id": "64a95bf8-2c0f-46e1-9a04-0f2748083cbb",
      "name": "WaitBeforeNextBatch",
      "webhookId": "0fddedb1-01d0-4cd1-a3aa-117864fe33bd"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "analysis_results",
        "filterType": "string",
        "filterString": "=select=id,analysis_type_id,idea_id,analysis_payload&idea_id=eq.{{ $('GetIdeasWithoutActionItems').item.json.id }}&analysis_type_id=eq.3"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1240,
        -260
      ],
      "id": "843fc6e1-cbe8-4ba8-aaaa-2a99f0b35694",
      "name": "GetMVPFeatures",
      "credentials": {
        "supabaseApi": {
          "id": "h6glGddJTttd41ys",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ideas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('FormatInputData').item.json.idea.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "pending_competitive_analysis"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        300,
        -360
      ],
      "id": "db90b85c-5eba-4d6a-89ab-3d66333b3116",
      "name": "UpdateIdeaStatus",
      "credentials": {
        "supabaseApi": {
          "id": "h6glGddJTttd41ys",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "ActionItemsAgent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ActionItemsAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "ActionItemsAgent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "IdeaBatch": {
      "main": [
        [],
        [
          {
            "node": "GetIdeasWithoutActionItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetIdeasWithoutActionItems": {
      "main": [
        [
          {
            "node": "GetRepositoryDetails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "IdeaBatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActionItemsAgent": {
      "main": [
        [
          {
            "node": "StoreActionItemsAnalysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LogError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StoreActionItemsAnalysis": {
      "main": [
        [
          {
            "node": "UpdateIdeaStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LogError": {
      "main": [
        [
          {
            "node": "IdeaBatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "ActionItemsAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetRepositoryDetails": {
      "main": [
        [
          {
            "node": "GetMVPFeatures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatInputData": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "IdeaBatch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WaitBeforeNextBatch": {
      "main": [
        [
          {
            "node": "IdeaBatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMVPFeatures": {
      "main": [
        [
          {
            "node": "FormatInputData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateIdeaStatus": {
      "main": [
        [
          {
            "node": "WaitBeforeNextBatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06052a78-c82a-4932-8ddd-d0123a36eaf7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e10ab23e7bda1b308d7880ad2ce9afe94ce54ae054be6feb06bc1dd524a69ad"
  },
  "id": "bwcpAa6p1fCefAZW",
  "tags": [
    {
      "createdAt": "2025-05-08T07:35:57.149Z",
      "updatedAt": "2025-05-08T07:35:57.149Z",
      "id": "LUq67xnrdY4qnA7a",
      "name": "production"
    },
    {
      "createdAt": "2025-06-09T22:11:04.637Z",
      "updatedAt": "2025-06-09T22:11:04.637Z",
      "id": "LxY2ntJAtqoYUu62",
      "name": "ossideas"
    },
    {
      "createdAt": "2025-05-15T11:17:02.051Z",
      "updatedAt": "2025-05-15T11:17:02.051Z",
      "id": "5xB7TmJqLJHXhXlN",
      "name": "schedule"
    }
  ]
}